/* Write your code here. */
.navBar {
    background-color: #ffffff33;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.navContainer1 {
    display: flex;
    flex-direction: row;
}

.navContainer2 {
    display: flex;
    flex-direction: row;
    margin-right: 80px;
}

.logo {
    height: 35px;
    width: 45px;
    margin: 13px;
    margin-left: 125px;
}

.heading {
    color: #ffffff;
    font-family: Roboto;
    font-size: 25px;
}

.scores {
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    padding-right: 25px;
    font-weight: 450;
}